body{
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .body{
        width: 1199px;
        margin: 0 auto;
    }
}





//------------------------HEADER
.navbar{
    background-color:  rgb(128, 230, 213) !important;
}
.navbar-toggler:hover {
    background-color: rgb(181, 233, 224);
}
#logo{
    width: 25%;
}



// ----------------------SLIDER
.slider_wrapper{
    width: 100%;
    height: 100%;
    background: black;
}




//-------------------CONTROL_BUTTONS
.control_buttons {
    display: flex;
    justify-content: flex-start;
}
#adult{
    background-color: rgb(61, 226, 199);
    border-radius: 0 !important;
    border: none;
    color: black;
    outline: none;
    margin: 0;
}
#kids{
    background-color: rgb(128, 230, 213);
    border-radius: 0 !important;
    border: none;
    color: black;
    outline: none;
    margin: 0;
}
#slippers{
    background-color: rgb(181, 233, 224);
    border-radius: 0 !important;
    border: none;
    color: black;
    outline: none;
    margin: 0;
}
#kids:hover, #kids:focus, #kids:active {
    color: rgb(255, 255, 255);
    outline: none !important;
    border: none !important;
}
#adult:hover{
    color: rgb(255, 255, 255);
}
#slippers:hover{
    color: rgb(255, 255, 255);
}
.card_controls{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding-top: 0.7vh;
}
.card_controls_btn{
    height: 100%;
    width: 26%;
    border: 0;
    line-height: 1.5;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    text-decoration: none;
    outline: none;
    display: inline-block;
}
.card_controls_btn:hover, .card_controls_btn:focus, .card_controls_btn:active{
    border: 0;
    color: white;
    font-weight: 700;
    outline: 0 !important;
}






//-----------------Overright defoult bootstrap styles
.btn {
    border-radius: 0;
}
.btn:hover, .btn:focus, .btn:visited, .btn:active, .btn:target{
    outline: none !important;
    box-shadow: none !important;
}
button:hover, button:focus, button:visited, button:active, button:target{
    outline: none !important;
    box-shadow: none !important;
    cursor: pointer;
}
small:hover, small:focus, small:visited, small:active, small:target{
    cursor: pointer;
}




//------------------------ALBUM

.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-color: #fff;
}
@media (min-width: 768px) {
    .jumbotron {
        padding-top: 6rem;
        padding-bottom: 6rem;
    }
}
.jumbotron p:last-child {
    margin-bottom: 0;
}
.jumbotron h1 {
    font-weight: 300;
}
.jumbotron .container {
    max-width: 40rem;
}
// .dropdown:hover, .dropdown:focus, .dropdown:visited, .dropdown:active, .dropdown:target{
//     background-color: rgb(61, 226, 199) !important;
// }
#card_btn-BUY:hover,
#card_btn-BUY:focus{
    background-color: rgb(61, 226, 199);
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-color: rgb(61, 226, 199);
}
.button_span:hover{
    color: rgb(61, 226, 199);
}
#card_btn-sizes:hover,
#card_btn-sizes:focus{
    background-color: rgb(61, 226, 199);
    color: rgb(255, 255, 255);
    font-weight: 400;
    border-color: rgb(61, 226, 199);
}



//--------------------------- Overright default bootstrap bg colors to album
.bg-light {
    background-color: rgb(61, 226, 199) !important;
}
.bg-danger {
    background-color: rgb(128, 230, 213) !important;
}
.bg-primary {
    background-color: rgb(181, 233, 224) !important;
}